# This template is a low-dependency template. 
# By default there is no requirements added here.
# Add the requirements you need to this file.
# or run `make init` to create this file automatically based on the template.
# You can also run `make switch-to-poetry` to use the poetry package manager.

pytest
pytest-mock
ruff
scipy
nbval
black
mypy
isort
pytest-cov
gitchangelog
coverage
fastapi==0.85.0
uvicorn==0.18.3
Flask==2.0.2
gunicorn
Werkzeug==2.2.2
types-requests
python-dotenv
requests